*.log
*.pot
*.pyc
__pycache__

data/train/images
data/train/labels
data/test/images
data/test/labels
data/run
data/weights
*.zip
*.exe
*.dll
*.iobj
*.pdb
*.lib
*.ipdb
*.recipe
*.dll
*.exe
#/accounts/migrations
#/board/migrations
#/project/migrations
#/storage/migrations
#/trained_model/migrations
